<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RegressionTestCollector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RegressionTestCollector.Properties.Settings>
            <setting name="SelectedCollectingMethod" serializeAs="String">
                <value>C#</value>
            </setting>
            <setting name="SelectedPythonCommand" serializeAs="String">
                <value>python</value>
            </setting>
            <setting name="SelectedTheme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="CommandStringIsUsingAbsolutePath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommandStringSettingsIsDebugSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommandStringSettingsIsVerboseSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommandStringSettigsIsWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CommandStringSettingsIsExeIncluded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighlighterIsTurnedOff" serializeAs="String">
                <value>False</value>
            </setting>
        </RegressionTestCollector.Properties.Settings>
    </userSettings>
</configuration>